.app__footer {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #797979;
  padding: 15px 0;
}

.app__footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}

/* MEDIA QUERY */
@media (max-width: 600px) {
  .app__footer {
    display: block;
    text-align: center;
  }

  .app__footer ul {
    margin-top: 15px;
  }

  .app__footer ul li {
    margin: 10px;
  }
}